@use './partials/variables'as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

h1 {
    color: $text-color;
}


//************************** general style **************************

body {
    background: linear-gradient(to bottom, black 50%, transparent);
    background-repeat: no-repeat;
    height: 100%;
}

//************************** main(index.blade.php) **************************

#all-rooms {
    font-size: 1.3rem;

}

//************************** carousel **************************
.body-carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    position: relative;

    div#carousel {
        grid-row: 1 / 2;
        grid-column: 1 / 8;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 1000px;
        --items: 5;
        --middle: 3;
        --position: 1;
        pointer-events: none;

        .item {
            position: absolute;
            width: 300px;
            height: 400px;
            background-color: coral;
            --r: calc(var(--position) - var(--offset));
            --abs: max(calc(var(--r) * -1), var(--r));
            transition: all 0.25s linear;
            transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
            z-index: calc((var(--position) - var(--abs)));

            img {
                width: 100%;
                height: 100%;

            }

            &:nth-of-type(1) {
                --offset: 1;
                background-color: blue;
            }

            &:nth-of-type(2) {
                --offset: 2;
                background-color: green;
            }

            &:nth-of-type(3) {
                --offset: 3;
                background-color: yellow;
            }

            &:nth-of-type(4) {
                --offset: 4;
                background-color: red;
            }

            &:nth-of-type(5) {
                --offset: 5;
                background: rgb(0, 0, 255);
                background: linear-gradient(207deg, rgba(0, 0, 255, 1) 0%, rgba(0, 128, 0, 1) 35%, rgba(255, 255, 0, 1) 55%, rgba(255, 0, 0, 1) 93%);
            }
        }
    }

    input:nth-of-type(1) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    input:nth-of-type(1):checked~div#carousel {
        --position: 1;
    }

    input:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    input:nth-of-type(2):checked~div#carousel {
        --position: 2;
    }

    input:nth-of-type(3) {
        grid-column: 4 /5;
        grid-row: 2 / 3;
    }

    input:nth-of-type(3):checked~div#carousel {
        --position: 3;
    }

    input:nth-of-type(4) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }

    input:nth-of-type(4):checked~div#carousel {
        --position: 4;
    }

    input:nth-of-type(5) {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
    }

    input:nth-of-type(5):checked~div#carousel {
        --position: 5;
    }

}